.details {
  font-size: 1.6rem;

  &__bg {
    padding: 1.3rem 1.3rem;

    @include mediaQ('>=tablet') {
      padding: 0 5rem;
    }

    figure {
      display: none;
    }
  }

  &__banner {
    background-color: red;
    width: 100%;
    min-height: 70vh;
    background: var(--poster_path-mobile);
    padding-bottom: 2rem;

    @include mediaQ('>=tablet') {
      height: 52rem;
      background: var(--poster_path-desktop);
    }
  }

  &__banner-img {
    img {
      width: 3rem;
    }
  }

  &__banner-dec {
    color: white;
    @include mediaQ('>=desktop') {
    }

    h3 {
      font-size: 2.8rem;
      font-weight: 600;
      margin-bottom: -0.7rem;

      span + span {
        font-weight: 400;
        opacity: 0.9;
        display: none;
      }
    }
  }

  &__facts {
    margin-top: 2rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    span:not(:first-child) {
    }
  }

  &__rating {
    padding: 0.1rem 0.4rem;
    border: 0.1rem solid white;
    opacity: 0.8;
    margin-right: 0.5rem;
  }

  &__date {
    margin-right: 0.5rem;
  }

  &__genres {
    margin-right: 0.5rem;

    &::before {
      content: '';
      display: inline-block;
      background-color: white;
      border-radius: 50%;
      height: 0.5rem;
      width: 0.5rem;
      margin-right: 1rem;
      position: relative;
      bottom: 0.25rem;
    }
  }

  &__actions {
    .rating {
      position: relative;
      top: unset;
      right: unset;
      left: unset;
      bottom: unset;
    }
  }

  &__score {
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    @include immaFlex($align: center, $just: space-between);
    p {
      margin-left: 1rem;
      width: 3rem;
    }

    div {
      margin-right: auto;
      white-space: nowrap;
    }

    button {
      background: none;
      border: none;
      color: white;
      margin-left: 1.5rem;
    }

    button:not(:last-child) {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: white;
      display: none;
    }

    button:last-child {
      margin-left: 2.5rem;
      @include immaFlex($align: center);

      svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    @include mediaQ('>=desktop') {
    }
  }

  &__tagline {
    margin-top: 2rem;
    font-style: italic;
    opacity: 0.8;
  }

  &__overview-title {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
  }
  &__overview-dec {
    margin-top: 1rem;
    font-weight: 300;
  }

  &__creators {
    margin-top: 2rem;
    span {
      font-weight: 700;
    }
  }

  &__cast-ctn {
    margin-top: 2rem;
    padding: 1.3rem;

    h3 {
      margin-bottom: 1rem;
      font-size: 2.8rem;
    }
  }

  &__cast {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex; /* equal height of the children */

    .profile {
      margin-right: 2rem;
      border-radius: 1rem;
      box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      white-space: normal;
      flex: 1;

      @extend %cursor;

      &:hover {
        box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
      }

      img {
        height: 22.2rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }

      figcaption {
        padding: 1.3rem;

        strong {
          font-size: 1.6rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
          display: inline-block;
        }

        p {
          font-style: italic;
        }
      }
    }
  }
}
