.search {
  margin-top: 3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 4rem;

  @include mediaQ('>=tablet') {
    padding-left: 4rem;
  }
  &__wrapper {
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin-bottom: 4rem;
    @include immaFlex($align: centers, $dir: column);
    @include mediaQ('>=tablet') {
      flex-direction: row;
      padding: 0;
      height: 14.1rem;
      border-radius: 1rem;
    }
  }
  &__img {
    margin-bottom: 2rem;

    @include mediaQ('>=tablet') {
      display: inline-block;
      height: 14.1rem;
      width: 9.5rem;
      margin-right: 1.5rem;
    }
    img {
      display: inline-block;
      width: 100%;
      background-color: rgba(#000, 0.1);
      @include mediaQ('>=tablet') {
        height: 14.1rem;
        width: 9.5rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        cursor: not-allowed;
      }
    }
  }

  &__details {
    @include mediaQ('>=tablet') {
      display: inline-block;
      align-self: center;
    }
    h3 {
      font-size: 2.2rem;
      margin-bottom: 0.5rem;
    }
    h3 + p {
      margin-bottom: 0.8rem;
      font-style: italic;
      opacity: 0.6;
      @include mediaQ('>=tablet') {
        margin-bottom: 2.5rem;
      }
    }

    p + p {
    }
  }

  &__link {
    text-decoration: none;
    margin-top: 4rem;
    color: #000 !important;
    font-weight: 600;
    display: inline-block;
    font-size: 1.6rem;

    a:visited {
      color: #000 !important;
    }

    @include immaFlex($align: center);
    @include mediaQ('>=tablet') {
    }

    svg {
      margin-right: 1rem;
      display: inline-block;
    }
  }
}
