*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // DEFINES WHAT 1 REM IS E.G. 1REM === 10PX
}

body {
  box-sizing: border-box;
  line-height: 1;
  letter-spacing: 0.06rem;
  font-weight: 100;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.5s;

  display: flex;
  flex-direction: column;
  @extend %font-ssp;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

